<template>
  <div
  class="day"
  :class="{weekend: weekend}">
    <div class="nav-position sticky x-axis">{{ day }}</div>
    <div v-for=" (trash, n) in 48" :key="n">
      <day-modal v-if="$mq === 'mobile'" :name="day + time[n]" :key="day + time[n] + '-modal'" :index="n"></day-modal>
      <div
      class="time checkbox"
      @click="$modal.show(day + time[n])"
      >
        <input type="checkbox" :id="day + time[n]">
        <label :for="day + time[n]"></label>
      </div>
    </div>
  </div>
</template>

<script>
import TimeD from '../TimeD'
import DayModal from '@/components/DayModal'
export default {
  name: 'DayColumn',
  props: ['weekend', 'day'],
  data() {
    return {
      time: TimeD
    }
  },
  components: { DayModal }
}
</script>
