<template>
  <modal :name="name"
  transition="nice-modal-fade"
  :width="200"
  :height="200"
  @before-close="beforeClose">
    <div class="modal-content">
      <div class="choose">
        <p>Choose end time</p>
      </div>
      <div class="time-options">
        <select v-model="selected" class="options">
          <option disabled value="" class="option">Please select one</option>
          <option v-for="i in optionsRange" :key="i" class="option">{{i}}</option>
        </select>
      </div>
    </div>
  </modal>
</template>

<script>
import TimeD from '../TimeD'
import toggleElements from '../ToggleElements'
export default {
  name: 'DayModal',
  props: {
    name: {
      type: String,
      required: true
    },
    index: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      time: TimeD,
      startTime: TimeD[this.index],
      optionsRange: TimeD.slice(this.index + 1),
      selected: ''
    }
  },
  methods: {
    toggleElements,
    beforeClose(e) {
      let endOfRange = this.time.indexOf(this.selected)
      let range = this.time.slice(this.index + 1, endOfRange + 1)
      let day = this.name.slice(0, 3)
      this.selected = ''
      this.toggleElements(range, day, document)
    }
  }
}
</script>

<style>
.options {
  border: 2px solid black;
  background-color: gray;
}
</style>
